body {
  margin: 0;
  padding: 0;
}

// Header is transparent

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  height: 96px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: transparent;
  padding: 0 120px;
}

.icon {
  height: 32px;
  width: 32px;
}

.header__icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
}

.header__icons_phone {
  background-image: url(/src/images/Icon-Phone-call.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.header__icons_menu {
  background-image: url(/src/images/Icon-Burger-menu.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

// Hero

.hero {
  background-image: url(/src/images/speaker\ in\ center\ of\ image.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 720px;
  padding: 0 120px;
}

.hero__text {
  font-family: Manrope, sans-serif;
  font-weight: 700;
  font-size: 56px;
  line-height: 100%;
  letter-spacing: 0;
  color: #fff;
  position: absolute;
  top: 544px;
}

// Recommended section

.recommended {
  padding: 0 120px;
}

.section-title {
  font-family: Manrope, sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: 0;
  color: #1b2129;
  margin-top: 120px;
  margin-bottom: 56px;
}

.recommended__products {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 24px;
}

.recommended__product {
  grid-column: span 4;
  min-width: 324px;
}

.product-title {
  font-family: Manrope, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: 0;
  color: #1b2129;
}

.product-description {
  font-family: Manrope, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.15px;
}

.product-price {
  font-family: Manrope, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0;
}
